<a href="https://colab.research.google.com/github/imymemineyay/Study_Python/blob/main/Python_dojang(Unit21_24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Unit 21. 터틀 그래픽스로 그림 그리기**

- 터틀 <BR>
: 어린이 및 초보자가 파이썬을 쉽게 배울 수 있도록 만든 모듈 <BR>
: 거북이가 기어가는 모양대로 그림을 그린다고 해서 터틀<BR>
: Windows, 리눅스, macOS 그래픽 환경에서만 동작<BR>
: 콘솔만 있는 환경에서는 사용불가

21.1 사각형 그리기

In [2]:
import turtle as t

In [5]:
t.forward(100)

TclError: ignored

## **Unit 22 리스트와 튜플 응용하기**

22.1 리스트에 요소 추가 
- append : 요소 하나를 추가
- extend : 리스트를 연결하여 확장
- insert : 특정 인덱스에 요소 추가

22.2 리스트 추가

In [6]:
a = [10, 20, 30] # 마지막에 요소 추가
a.append(500)
print(a, len(a))

[10, 20, 30, 500] 4

In [7]:
a = []
a.append(20)
print(a,len(a))

[20] 1

22.3 리스트 확장

In [8]:
a = [10, 20, 30]
a.extend([500,600])
print(a,len(a))

[10, 20, 30, 500, 600] 5

22.4 리스트의 특정 인덱스에 요소 추가

In [11]:
a = [10, 20, 30]
a.insert(2,500) # insert(인덱스, 요소)
print(a,len(a))
b = [10,20,30]
b.insert(len(b),900)
print(b,len(b)) # 마지막에 요소 추가
c = [12,52,36]
c[1:1] = [599,566] # 시작 인덱스와 끝인덱스를 같게 지정하면 해당 인덱스 요소를 덮어쓰지 않으며
print(c,len(c)) # 요소 여러 개를 중간에 추가 가능

[10, 20, 500, 30] 4
[10, 20, 30, 900] 4
[12, 599, 566, 52, 36] 5

In [25]:
a = [10,20,30]
a[len(a):] = [500]
print(a)

b = [10,20,30]
b.append(500)
print(b)

[10, 20, 30, 500]
[10, 20, 30, 500]

In [26]:
a = [10,20,30]
a[len(a):] = [500,600]
print(a)

b = [10,20,30]
b.extend([500,600])
print(b)

[10, 20, 30, 500, 600]
[10, 20, 30, 500, 600]

22.5 리스트에서 요소 삭제
- pop : 마지막 요소 또는 특정 인덱스의 요소 삭제
- remove : 특정 값을 찾아서 삭제

22.6 pop()

In [15]:
a = [10,20,30]
a.pop() # 빈 인덱스 == 마지막 요소
print(a) 

b = [10,20,30]
b.pop(2) # 인덱스 2 == 해당 리스트에서 마지막 요소
print(b)

c = [10,20,30]
del c[2] # del을 사용해도 됨 사용법이 다름
print(c)

[10, 20]
[10, 20]
[10, 20]

22.7 remove(값)

In [17]:
a = [10, 20, 30]
a.remove(20)
print(a)

b = [10,20,30,20]
b.remove(20) # 가장 처음 찾은 값을 삭제 
print(b)

[10, 30]
[10, 30, 20]

22.8 clear() 리스트의 모든 요소 삭제

In [24]:
a = [10, 20, 30]
a.clear()
print(a)

b = [10,20,30]
del b[:]
print(b)

[]
[]

22.9 index(값) : 리스트에서 특정 값의 인덱스 구하기

In [18]:
a = [10,20,30,15,20,40]
a.index(20) # 가장 처음 찾은 인덱스를 구함

1

22.10  count(값) : 특정 값의 개수 구하기

In [19]:
a = [10,20,30,40,20,20]
a.count(20)

3

22.11 reverse() : 리스트 요소 순서 뒤집기

In [21]:
a = [10,20,30,40,50]
a.reverse()
a

[50, 40, 30, 20, 10]

22.12 
- sort()/ sort(reverse=False) 리스트의 요소를 작은 순서대로 정렬(오름차순)
- sort(reverse=True) 리스트의 값을 큰 순서대로 정렬(내림차순)

In [22]:
a = [10,20,30,40,20,30]
a.sort()
a

[10, 20, 20, 30, 30, 40]

sort 메서드와 sorted 함수
- sort : 리스트의 내용을 변경하여 정렬
- sorted : 정렬된 새 리스트를 생성

In [23]:
a = [10, 20, 30, 15, 20, 40]
a.sort()    # a의 내용을 변경하여 정렬
print(a)

b = [10, 20, 30, 15, 20, 40]
print(sorted(b))    # 정렬된 새 리스트를 생성

[10, 15, 20, 20, 30, 40]
[10, 15, 20, 20, 30, 40]

22.13 리스트가 비어 있는지 확인

In [27]:
seq = []
if seq: # 리스트에 내용이 있으면 True | not seq 비어있으면 True
  print(seq[-1])

22.14 리스트의 할당과 복사

In [28]:
a = [0,0,0,0,0]
b = a # 리스트를 다른 변수에 할당하면 리스크는 두 개가 될 것 같지만, 실제로는 한 개의 리스트
print(a is b)  # 변수 이름만 다를 뿐 같은 객체
b[2] = 99
print(a) # 같은 객체이므로 리스트 a,b에 변경 사항이 모두 반영됨
print(b)

True
[0, 0, 99, 0, 0]
[0, 0, 99, 0, 0]

In [30]:
a = [0,0,0,0,0]
b = a.copy() # 리스트 a와 b를 완전히 두개로 만듦
print('a is b : ', a is b)
print('a == b : ', a == b)

a is b :  False
a == b :  True

In [31]:
b[2] = 99
print(a)
print(b) # a와 b는 별개이므로 한쪽의 값을 변경해도 다른 리스트에 영향 미치지 않음

[0, 0, 0, 0, 0]
[0, 0, 99, 0, 0]

22.15 반복문으로 리스트의 요소를 모두 출력

In [33]:
a = [38,23,21,25,4,3,33]
for index, value in enumerate(a) : # 인덱스와 요소 함께 출력
  print(index, value)

0 38
1 23
2 21
3 25
4 4
5 3
6 33

In [34]:
for index, value in enumerate(a, start = 1): # 인덱스 1부터 시작
  print(index, value)

1 38
2 23
3 21
4 25
5 4
6 3
7 33

In [35]:
a = [38, 21, 53, 62, 19]
for i in range(len(a)):
  print(a[i])

38
21
53
62
19

In [36]:
a = [38,21,50,41,56]
i = 0 
while i < len(a):
  print(a[i])
  i += 1

38
21
50
41
56

22.16 가장 작은 수와 가장 큰 수 구하기

In [38]:
a = [38, 21, 53, 62 ,19]
smallest = a[0]
for i in a:
  if i < smallest:
    smallest = i 
print(i)

19

In [39]:
a = [38, 21, 53, 62, 19]
largest = a[0]
for i in a :
  if i > largest:
    largest = i
print(largest)

62

In [40]:
a = [38,21,53,62,19]
a.sort()
print(a[0]) # smallest

a.sort(reverse=True)
print(a[0]) # largest

19
62

In [42]:
a = [38, 21, 35, 89, 99]
print('min(a) : ' ,min(a), ', max(a) : ', max(a))

min(a) :  21 , max(a) :  99

22.17 요소의 합계 구하기

In [43]:
a = [10,10,10,10,10]
x = 0
for i in a:
  x += i
print(x)

50

In [45]:
a = [10,10,10,10,10]
sum(a) # 반복 가능한 객체(리스트, 튜플, 딕셔너리, 세트, range)를 사용할 수 있음

50

22.18 리스트 컴프리헨션(리스트 표현식) : for 반복문, if 조건문 등을 지정하여 리스트를 생성하는 것<br>
- [식 for 변수 in 리스트]
- list(식 for 변수 in 리스트)

In [46]:
a = [i for i in range(10)] # 대괄호 방식이 파이썬 다운 코드이다
print(a)

b = list(i for i in range(10))
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
a = [i*2 for i in range(5)]
print(a)

[0, 2, 4, 6, 8]

In [48]:
a = [i for i in range(10) if i % 2 == 0]
print(a)

[0, 2, 4, 6, 8]

In [52]:
a = [i * j for j in range(2,10) 
           for i in range(1,10)] # for가 여러 개일 때 처리 순서는 뒤에서 앞으로
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

22.19 리스트에 map 사용하기
- list(map(함수, 리스트))
- tuple(map(함수, 튜플))

In [53]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
  a[i] = int(a[i])
print(a)

[1, 2, 3, 4]

In [54]:
a = [1.2,2.3,2.5,1.8]
a = list(map(int,a))
print(a)

[1, 2, 2, 1]

In [55]:
a = input().split()
a

10 20

['10', '20']

In [56]:
a = map(int, input().split())
list(a)

20 50 60 45

[20, 50, 60, 45]

In [60]:
a, b = map(int, input().split())
print(a)
print(b)

20 50
20
50

22.20 튜플 응용하기

튜플은 read only🤯<br>
→ 내용 변경 및 삭제 메서드 사용 불가 <br>
→ 요소의 정보를 구하는 메서드만 사용 가능

22.21 <br>
index(값) : 튜플에서 특정 값의 인덱스를 구함 <br>
같은 값이 여러 개일 경우 처음 찾는 인덱스를 구함

In [61]:
a = (38,21,53,62,83,38)
a.index(38)

0

22.22<br>
count(값) : 특정 값의 개수를 구함

In [62]:
a = (10,19,29,30,10,10)
a.count(10)

3

22.23 <br>
for 반복문으로 요소 출력

In [64]:
a = (38,21,29,38,20)
for i in a:
  print(i, end=' ')

38 21 29 38 20

22.24 <br>
튜플 표현식 사용하기

In [66]:
a = tuple(i for i in range(10) if i % 2 == 0) # 괄호안에 표현식을 넣으면 튜플이 아니라 제너레이터 표현식이 됨
print(a)

(0, 2, 4, 6, 8)

22.25<br>
tuple에 map 사용

In [67]:
a = (1.2, 3.5, 4.4, 2.3)
a = tuple(map(int,a))
print(a)

(1, 3, 4, 2)

22.26<br>
튜플에서 가장 작은 수, 가장 큰 수, 합계 구하기

In [68]:
a = (36, 54, 43,23, 12)
print('min(a) : ', min(a), ', max(a) : ', max(a), ', sum(a) : ', sum(a))

min(a) :  12 , max(a) :  54 , sum(a) :  168

In [70]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i)==5]
b

['alpha', 'bravo', 'delta', 'hotel', 'india']

연습문제)<br>
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1-20, 두 번째 입력 값의 범위는 10-30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [76]:
a , b = map(int,input().split())
c = [2**i for i in range(a,b+1)]
c.pop(1)
c.pop(-2)
print(c)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

## **Unit 23 2차원 리스트 사용하기**

23.1<br>
2차원 리스트를 만들고 요소에 접근하기 <br>

- 리스트 안에 리스트를 넣어서 만들 수 있으며 안쪽의 각 리스트는 ,(콤마)로 구분 <br>
- 리스트 = [[값,값],[값,값],[값,값]]
- 리스트[세로인덱스][가로인덱스] <br>
  리스트[세로인덱스][가로인덱스] = 값

In [79]:
a = [[10,20],[30,40],[50,60]]
print(a)

b = [[10,20],
     [30,40],
     [50,60]]
print(b)

[[10, 20], [30, 40], [50, 60]]
[[10, 20], [30, 40], [50, 60]]

In [81]:
a = [[10,20],[30,40],[50,60]]

print(a[0][0])
print(a[2][0])
print(a[1][1])
a[2][1]= 600 
print(a[2][1])

10
50
40
600

<참고><br>
톱니형 리스트<br> : 가로 크기가 불규칙한 형태

In [83]:
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
print(a)

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

<참고><br>
2차원 튜플 : 튜플 안에 튜플을 넣는 방식 <br>
- 튜플 = ((값,값),(값,값),(값,값))
- 튜플 = ([값,값],[값,값],[값,값])
- 리스트 = [(값,값),(값,값),(값,값)]

In [ ]:
a = ((10, 20), (30, 40), (50, 60))    # 튜플 안에 튜플을 넣은 2차원 튜플
b = ([10, 20], [30, 40], [50, 60])    # 튜플 안에 리스트를 넣음
c = [(10, 20), (30, 40), (50, 60)]    # 리스트 안에 튜플을 넣음

a[0][0] = 500        # 안쪽 튜플은 변경할 수 없음. TypeError 발생
a[0] = (500, 600)    # 바깥쪽 튜플은 변경할 수 없음. TypeError 발생
b[0][0] = 500        # 안쪽 리스트는 변경할 수 있음
b[0] = (500, 600)    # 바깥쪽 튜플은 변경할 수 없음. TypeError 발생
c[0][0] = 500        # 안쪽 튜플은 변경할 수 없음. TypeError 발생
c[0] = (500, 600)    # 바깥쪽 리스트는 변경할 수 있음

<참고> <br>
2차원 리스트의 사각형 구조를 유지하도록 출력하려면 pprint 모듈의 pprint함수를 사용해야함

In [84]:
from pprint import pprint
pprint(a, indent = 4, width = 20)

[   [10, 20],
    [500, 600, 700],
    [9],
    [30, 40],
    [8],
    [   800,
        900,
        1000]]

23.2 for 반복문을 한 번만 사용

In [85]:
a = [[10,20],[30,40],[50,60]]
for x, y in a :
  print(x,y)

10 20
30 40
50 60

23.3 for 반복문을 두 번 사용하기

In [86]:
a = [[10,20],[30,40],[50,60]]
for i in a :
  for j in i:
    print(j, end=' ')
  print()

10 20
30 40
50 60

23.4 for와 range 사용하기

In [87]:
a = [[10,20],[30,40],[50,60]]
for i in range(len(a)): # 세로 크기
  for j in range(len(a[i])): # 가로 크기
    print(a[i][j], end=' ')
  print()

10 20
30 40
50 60

23.5 while 반복문을 한 번 사용하기

In [89]:
a = [[10,20],[30,40],[50,60]]

i = 0
while i < len(a): # 반복할 때 리스트의 크기 활용(세로 크기)
  x, y = a[i]
  print(x,y)
  i += 1

10 20
30 40
50 60

In [91]:
i = 0
while i < len(a):
  j = 0
  while j < len(a[i]):
    print(a[i][j], end=' ')
    j += 1
  i += 1
  print()

10 20
30 40
50 60

23.6 for 반복문으로 1차원 리스트 만들기

In [92]:
a = []
for i in range(10):
  a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

23.7 for 반복문으로 2차원 리스트 만들기

In [93]:
a = []

for i in range(3):
  b = []
  for j in range(2):
    b.append(0)
  a.append(b)
print(a)

[[0, 0], [0, 0], [0, 0]]

23.8 리스트 표현식으로 2차원 리스트 만들기

In [96]:
a = [[0 for j in range(2)] for i in range(3)]
print(a)

[[0, 0], [0, 0], [0, 0]]

In [97]:
a = [[0]*2 for i in range(3)]
print(a)

[[0, 0], [0, 0], [0, 0]]

23.9 톱니형 리스트

In [98]:
a = [3,1,3,2,5]
b = []

for i in a:
  line = []
  for j in range(i):
    line.append(0)
  b.append(line)
print(b)

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [99]:
a = [[0] * i for i in [3,1,2,6]]
print(a)

[[0, 0, 0], [0], [0, 0], [0, 0, 0, 0, 0, 0]]

<참고><br>
sorted(반복가능한 객체, key = 정렬함수, reverse=True | False)

In [100]:
students = [['john', 'C', 19],
            ['maria','A', 25],
            ['andrew','B',7]]

print(sorted(students, key = lambda student : student[1])) # 안쪽 리스트의 인덱스 1을 기준으로 정렬
print(sorted(students, key = lambda student : student[2]))

[['maria', 'A', 25], ['andrew', 'B', 7], ['john', 'C', 19]]
[['andrew', 'B', 7], ['john', 'C', 19], ['maria', 'A', 25]]

23.10 리스트의 할당과 복사

In [101]:
a = [[10,20],[30,40]]
b = a
b[0][0] = 500
print(a)
print(b)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

In [102]:
a = [[10, 20], [30, 40]]
b = a.copy()
b[0][0] = 500
print(a)
print(b)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]

In [104]:
a = [[10, 20], [30, 40]]
import copy             # copy 모듈을 가져옴
b = copy.deepcopy(a)    # copy.deepcopy 함수를 사용하여 깊은 복사
b[0][0] = 500
print(a)
print(b)
print(a is b)

[[10, 20], [30, 40]]
[[500, 20], [30, 40]]
False

In [110]:
a = [[[0 for i in range(3)] for i in range(4)]for i in range(2)]
print(a)

[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]], [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]]

In [111]:
[[0 for col in range(3)] for row in range(4)]

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

연습문제)<br>
표준 입력으로 2차원 리스트의 가로(col)와 세로(row)가 입력되고 그 다음 줄부터 리스트의 요소로 들어갈 문자가 입력됩니다. 이때 2차원 리스트 안에서 *는 지뢰이고 .은 지뢰가 아닙니다. 지뢰가 아닌 요소에는 인접한 지뢰의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

여러 줄을 입력 받으려면 다음과 같이 for 반복문에서 input을 호출한 뒤 append로 각 줄을 추가하면 됩니다(list 안에 문자열을 넣으면 문자열이 문자 리스트로 변환됩니다).

      matrix = []
      for i in range(row):
          matrix.append(list(input()))
이 문제는 지금까지 심사문제 중에서 가장 어렵습니다. 처음 풀어보는 경우 대략 두 시간은 걸립니다. 시간을 두고 천천히 고민해서 풀어보세요. 지금까지 학습한 내용을 모두 동원해야 풀 수 있으며 막힐 때는 지금까지 학습한 내용을 다시 복습하면서 힌트를 찾아보세요.

## **Unit 24 문자열 응용하기**

24.1  문자열 바꾸기 <br>
replace('바꿀문자열', '새문자열') <br>
문자열 자체는 변경하지 않으며 바뀐 결과를 반환함

In [2]:
s = 'Hello, world'
s = s.replace('world','Minimi')
print(s)

Hello, Minimi

24.2 문자 바꾸기<br>
① 변환 테이블 생성 : str.maketrans('바꿀문자','새문자') <br>
② 결과 반환 : translate(테이블)

In [4]:
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

24.3 문자열 분리하기 <br>
- split() : 공백을 기준으로 문자열을 분리하여 리스트 생성
- split('기준문자열') : 문자열을 지정하면 기준 문자열로 문자열을 분리

In [5]:
'apple cherry orange pineapple strawberry'.split() # 공백을 기준으로 분리

['apple', 'cherry', 'orange', 'pineapple', 'strawberry']

In [6]:
'apple, cherry, orange, pineapple, strawberry'.split(', ') # 콤마와 공백을 기준으로 분리

['apple', 'cherry', 'orange', 'pineapple', 'strawberry']

24.4 구분자 문자열과 문자열 리스트 연결하기 <br>
join(리스트) : 구분자 문자열과 문자열 리스트의 요소를 연결하여 문자열로 만듦

In [7]:
' '.join(['apple', 'cherry', 'orange', 'pineapple', 'strawberry'])

'apple cherry orange pineapple strawberry'

In [8]:
'-'.join(['apple', 'cherry', 'orange', 'pineapple', 'strawberry'])

'apple-cherry-orange-pineapple-strawberry'

24.5 대소문자 변환 <br>
- upper() : 문자열의 문자를 모두 대문자로 변환 <br>
- lower() : 문자열의 문자를 모두 소문자로 변환 <br>

In [9]:
'python'.upper()

'PYTHON'

In [10]:
'PYTHON'.lower()

'python'

24.6 공백 삭제
- lstrip() : 문자열 왼쪽에 있는 연속된 모든 공백 삭제
- rstrip() : 문자열에서 오른쪽에 있는 연속된 모든 공백 삭제
- strip() : 문자열에서 양쪽에 있는 연속된 모든 공백 삭제

In [11]:
'     python       '.lstrip()

'python       '

In [12]:
'     python       '.rstrip()

'     python'

In [13]:
'     python       '.strip()

'python'

24.7 특정 문자 삭제하기
- lstrip('삭제할문자들') : 문자열 왼쪽에 있는 문자 삭제
- rstrip('삭제할문자들') : 문자열 오른쪽에 있는 문자 삭제
- strip('삭제할문자들') :  문자열 양쪽에 있는 문자 삭제

In [15]:
', python,.'.lstrip(', ')

'python,.'

In [16]:
', python,.'.rstrip(',.')

', python'

In [18]:
', python,.'.strip(',. ')

'python'

<참고><br>
- 구두점을 간단하게 삭제하기
string 모듈의 punctuation에는 모든 구두점이 있음 <br>
- strip 메서드에 string.punctuation을 넣으면 문자열 양쪽의 모든 구두점을 간단하게 삭제 가능

In [20]:
import string
', python . .'.strip(string.punctuation)

' python . '

In [21]:
', python . .'.strip(string.punctuation + ' ') # 공백을 연결

'python'

In [22]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

24.8 문자열 정렬 <br>
- ljust(길이) :  문자열을 지정된 길이로 만든 뒤 왼쪽으로 정렬하며 남은 공간을 공백으로 채움
- rjust(길이) : 문자열을 지정된 길이로 만든 뒤 오른쪽 정렬하며 남은 공간을 공백으로 채움
- center(길이) : 문자열을 지정된 길이로 만든 뒤 가운데로 정렬하며 남는 공간을 공백으로 채움

In [23]:
'python'.ljust(10)

'python    '

In [24]:
'python'.rjust(10)

'    python'

In [25]:
'python'.center(10)

'  python  '

In [26]:
'python'.center(11) # 가운데 정렬 후 전체 길이와 남는 공간이 모두 홀수면 왼쪽에 공백이 하나 더 들어가야함

'   python  '

24.9 메서드 체이닝 <br>
: 메서드를 줄줄이 연결하는 것

In [27]:
'python'.rjust(10).upper()

'    PYTHON'

24.10 문자열 채우기<br>
zfill(길이) : zero fill로 지정된 길이에 맞춰 왼쪽에 0을 채움

In [29]:
print('숫자 앞 0 채움 : ','35'.zfill(4))
print('문자 앞 0 채움 : ', 'hi'.zfill(4))

숫자 앞 0 채움 :  0035
문자 앞 0 채움 :  00hi

24.11 문자열 위치 찾기
- find('찾을 문자열') : 문자열에서 특정 문자열을 찾아서 인덱스를 반환하고, 문자열이 없으면 -1을 반환 <br>
- 왼쪽에서부터 찾고 같은 문자열이 여러개일 시, 처음 찾은 문자열의 인덱스 반환
- rfind('찾을문자열')은 오른쪽에서부터 특정 문자열을 찾아서 인덱스를 반환하고, 문자열이 없으면 -1을 반환
- index('찾을문자열')은 왼쪽에서부터 특정 문자열을 찾아서 인덱스를 반환, 문자열이 없으면 에러 발생
- rindex('찾을문자열')은 오른쪽에서부터 특정 문자열을 찾아서 인덱스를 반환

In [30]:
'apple pineapple'.find('apple')

0

In [31]:
'apple pineapple'.rfind('pl') # 오른쪽에서부터  문자열 위치 찾기

12

In [32]:
'apple pineapple'.index('pl')

2

In [33]:
'apple pineapple'.rindex('pl')

12

24.12 문자열 개수 세기<br>
- count('문자열')

In [34]:
'apple pineapple'.count('pl')

2

24.13 특정 부분을 원하는 값으로 변환<br>
- 서식 지정자 (format specifier)
- 문자열 포매팅 (string formatting)

24.14 서식 지정자 (format specifier)
- '%s' % '문자열' (s = string)
- '%d' % 숫자 (d = decimal integer)
- '%f' % 숫자 (f = fixed point)  ※ 기본적으로 소수점 이하 6자리까지 표시
- '%.자릿수f' % 숫자 ※ 자릿수 지정
- %길이s : %뒤 숫자를 붙이면 문자열을 지정된 길이로 만든 뒤 오른쪽으로 정렬하고 남은 공간 공백 처리
- %-길이s
- '%d %s' % (숫자, '문자열')

In [35]:
name = 'maria'    
'I am %s.' % name  # '%s' % '문자열

'I am maria.'

In [36]:
'I am %d years old.' % 20 # '%d' % 숫자

'I am 20 years old.'

In [37]:
'%f' % 2.5  # '%f' % 숫자

'2.500000'

In [38]:
'%.2f' % 2.5 # '%.자릿수f' % 숫자

'2.50'

In [39]:
'%10s' % 'python'  # %길이s

'    python'

In [40]:
'%10d' % 150

'       150'

In [41]:
'%10.2f' % 2000.3

'   2000.30'

In [42]:
'%-10s' % 'python' # 왼쪽 정렬

'python    '

In [43]:
'Today is %d %s.' % (3, 'April')

'Today is 3 April.'

In [44]:
'Today is %d%s.' % (3, 'April') # 서식지정자 사이에 공백을 주지 않으면 붙어서 나오니 주의

'Today is 3April.'

24.15 Format 매서드 사용하기
- '{인덱스}'.format(값)

In [45]:
'Hello, {0}'.format(100)

'Hello, 100'

In [46]:
'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

'Hello, Python 3.6 Script'

In [47]:
'{0} {0} {1} {1}'.format('Python', 'Script')

'Python Python Script Script'

In [49]:
'Hello, {} {} {}'.format('Python', 'Script', 3.6) # 인덱스 생략시 지정 순서대로 값이 들어감

'Hello, Python Script 3.6'

In [50]:
'Hello, {language} {version}'.format(language='Python', version=3.6)

'Hello, Python 3.6'

In [51]:
language = 'Python'
version = 3.6
f'Hello, {language} {version}'

'Hello, Python 3.6'

In [52]:
'{{ {0} }}'.format('Python')

'{ Python }'

In [54]:
'{0:<10}'.format('python') # 정렬할 방향과 길이 지정/ 부등호 방향 왼쪽 = 왼쪽 정렬

'python    '

In [55]:
'{0:>10}'.format('python')

'    python'

In [56]:
'{:>10}'.format('python')

'    python'

24.16 숫자 개수 맞추기
- '%0개수d' % 숫자
- '{인덱스:0개수d'}'.format(숫자)
- '%0개수.자릿수f' % 숫자
- '{인덱스:0개수.자릿수f'}.format(숫자)

In [57]:
'{0:03d}'.format(35)

'035'

In [58]:
'%08.2f' % 3.6

'00003.60'

In [59]:
'{0:08.2f}'.format(150.37)

'00150.37'

24.17 채우기와 정렬을 조합해서 사용
- '{인덱스:[[채우기]정렬][길이][.자릿수][자료형]}'

In [60]:
'{0:0<10}'.format(15)  # 길이 10, 왼쪽으로 정렬하고 남는 공간은 0으로 채움

'1500000000'

In [61]:
'{0:0>10}'.format(15)    # 길이 10, 오른쪽으로 정렬하고 남는 공간은 0으로 채움

'0000000015'

In [62]:
'{0: >10}'.format(15)    # 남는 공간을 공백으로 채움

'        15'

In [63]:
'{0:>10}'.format(15)     # 채우기 부분을 생략하면 공백이 들어감

'        15'

In [64]:
'{0:x>10}'.format(15)    # 남는 공간을 문자 x로 채움

'xxxxxxxx15'

<참고><br>
format 내장함수를 사용하면 천 단위로 콤마(,)넣기

In [65]:
format(1493500, ',')

'1,493,500'

In [66]:
'%20s' % format(1493500, ',')    # 길이 20, 오른쪽으로 정렬

'           1,493,500'

In [67]:
'{0:,}'.format(1493500)

'1,493,500'

In [68]:
'{0:>20,}'.format(1493500)     # 길이 20, 오른쪽으로 정렬
'           1,493,500'

'           1,493,500'

In [75]:
path = 'C:\\Users\\dojang\\AppData\\Local\\Programs\\Python\\Python36-32\\python.exe'

x = path.split('\\')
x.reverse()
filename=x[0]
print(filename)

python.exe

연습문제) <br>
표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

In [82]:
seven = input().split()
count = 0
for words in seven:
  if (words.strip(',.')=='the'):
    count += 1
print(count)

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

연습문제) <br>
표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [104]:
stuff = list(map(int,input().split(';')))
stuff.sort(reverse=True)
for i in stuff:
  print('{0: >9,}'.format(i))

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900