<a href="https://colab.research.google.com/github/imymemineyay/Study_Python/blob/main/Python_dojang(Unit25).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Unit 25.  딕셔너리 응용하기**

25.1 딕셔너리 키와 기본값 저장

- setdefault(키) : 딕셔너리에 키-값 쌍 추가, 키만 지정하면 값에 None 저장
- setdefault(키, 기본값) : 값에 기본값을 저장한 뒤 해당 값을 반환

In [3]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')
print(x)

x.setdefault('f', 100)
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

25.2 딕셔너리에 키의 값 수정

- update(키 = 값) : 키의 값 수정 🐾단, 키가 문자열일 경우

In [5]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.update(a=90)
print(x)

x.update(a=900, f=60) # 쌍 여러 개를 콤마로 구분해서 넣어주면 값을 한꺼번에 수정 가능
print(x)

{'a': 90, 'b': 20, 'c': 30, 'd': 40}
{'a': 900, 'b': 20, 'c': 30, 'd': 40, 'f': 60}

- update(딕셔너리) : 키가 숫자일 경우의 값 수정 방법

In [6]:
y = {1: 'one', 2: 'two'}
y.update({1: 'ONE', 3: 'THREE'})
print(y)

{1: 'ONE', 2: 'two', 3: 'THREE'}

- update(리스트), update(튜플) : 리스트, 튜플로 값 수정
- 리스트는 [[키1, 값1], [키2, 값2]] 형식으로 만들어줘야함 (튜플도 마찬가지)

In [7]:
y = {1: 'one', 2: 'two'}

y.update([[2, 'TWO'], [4, 'FOUR']])
print(y)

{1: 'one', 2: 'TWO', 4: 'FOUR'}

In [10]:
k = {'다나카' : 'character', '국적' : 'japan'}

k.update((('다나카','축구선수'),('국적','한국')))
print(k)

{'다나카': '축구선수', '국적': '한국'}

- update(반복가능한 객체) <br>
: 키-값 쌍으로 된 반복 가능한 객체로 값을 수정 <br>
즉, 키 리스트와 값 리스트를 묶은 zip객체로 값 수정 가능

In [13]:
y = {1: 'one', 2: 'two'}

y.update(zip([1,2],['One','Two']))
print(y)

{1: 'One', 2: 'Two'}

<참고><BR>

**setdefault와 update의 차이**
<br>

setdefault는 키-값 쌍 추가만 할 수 있고, 이미 들어있는 키의 값은 수정할 수 없다. <br>
update는 키- 값 쌍 추가와 값 수정이 모두 가능하다

25.3 딕셔너리 키-값 쌍 삭제하기

- pop(키) : 특정 키-값 쌍을 삭제한 뒤 삭제한 값을 반환
- pop(키, 기본값) : 기본값을 지정하면 딕셔너리에 키가 있을 때는 해당 키-값 쌍을 삭제한 뒤 삭제한 값을 반환하지만 키가 없을 때는 기본값만 반환

In [15]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
print(x.pop('a'))
print(x)

10
{'b': 20, 'c': 30, 'd': 40}

In [17]:
x.pop('z', 0) # 딕셔너리에는 'z'가 없으므로 기본값으로 지정한 0 반환

0

- del 변수['키']

In [18]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
del x['a']
print(x)

{'b': 20, 'c': 30, 'd': 40}

- popitem() : 임의의 키-값 쌍을 삭제한 뒤 삭제한 키-값 쌍을 튜플로 반환 <br>
파이썬 3.6 이상에서는 마지막 키-값 쌍을 삭제

In [1]:
  x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
  print(x.popitem())
  print(x)

('d', 40)
{'a': 10, 'b': 20, 'c': 30}

- clear() : 딕셔너리의 모든 키-값 쌍을 삭제

In [2]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.clear()
x

{}

25.4 딕셔너리에서 키의 값을 가져오기

- get(키) : 딕셔너리에서 특정 키의 값 추출
- get(키, 기본값) : 키가 있을 때는 해당 키의 값을 반환하지만 키가 없을 때는 0을 반환함

In [3]:
 x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
 x.get('a')

10

In [4]:
x.get('z',0)

0

25.5 딕셔너리에서 키-값 쌍을 모두 가져오기

- items : 키-값 쌍을 모두 가져옴
- keys : 키를 모두 가져옴
- values : 값을 모두 가져옴

In [5]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [6]:
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [7]:
x.values()

dict_values([10, 20, 30, 40])

25.6 리스트와 튜플로 딕셔너리 만들기

- dict.fromkeys(키리스트) : 키 리스트로 딕셔너리를 생성하며 값은 모두 None으로 저장
- dict.fromkeys(키리스트, 값) : 키리스트와 값을 지정하면 해당 값이 키의 값으로 저장됨

In [8]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
print(x)

{'a': None, 'b': None, 'c': None, 'd': None}

In [9]:
y = dict.fromkeys(keys, 100)
y

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

<참고> <br>
defaultdict 사용하기 <br>
defaultdict을 사용하면 없는 키에 접근하더라도 에러가 발생하지 않으며 기본값을 반환함
- defaultdict(기본값생성함수)

In [10]:
from collections import defaultdict    # collections 모듈에서 defaultdict를 가져옴
y = defaultdict(int) # int로 기본값 생성

In [11]:
y['z'] # int 는 실수나 문자열을 정수로 변환하지만 아무것도 넣지 않고 호출할 시 0을 반환함

0

In [12]:
z = defaultdict(lambda: 'python') # 특정 값을 반환하는 함수를 만들 시 특정 값이 나옴
print(z['a'])
print(z[0])

python
python

25.7 for 반복문을 사용하여 모든 키-쌍 출력

In [13]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items():
  print(key,value)

a 10
b 20
c 30
d 40

In [14]:
for key, value in {'a': 10, 'b': 20, 'c': 30, 'd': 40}.items():
  print(key,value)

a 10
b 20
c 30
d 40

25.8 딕셔너리의 키만 출력
- items: 키-값 쌍을 모두 가져옴
- keys: 키를 모두 가져옴
- values: 값을 모두 가져옴

In [15]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key in x.keys():
  print(key,end=' ')

a b c d

25.9 딕셔너리의 값만 출력

In [16]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for value in x.values():
  print(value, end=' ')

10 20 30 40

25.10 딕셔너리 표현식
- {키: 값 for 키, 값 in 딕셔너리}
- dict({키: 값 for 키, 값 in 딕셔너리})

In [17]:
keys = ['a', 'b', 'c', 'd']
x = {key: value for key, value in dict.fromkeys(keys).items()}
print(x)

{'a': None, 'b': None, 'c': None, 'd': None}

In [19]:
x = {key: value for key, value in dict.fromkeys(keys).items()}
print(x)

{'a': None, 'b': None, 'c': None, 'd': None}

In [20]:
{key: 0 for key in dict.fromkeys(['a', 'b', 'c', 'd']).keys()}               # 키만 가져옴

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [21]:
{value: 0 for value in {'a': 10, 'b': 20, 'c': 30, 'd': 40}.values()}        # 값을 키로 사용

{10: 0, 20: 0, 30: 0, 40: 0}

In [22]:
{value: key for key, value in {'a': 10, 'b': 20, 'c': 30, 'd': 40}.items()}  # 키-값 자리를 바꿈

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

25.11 딕셔너리 표현식에 if 조건문 사용하기

- 딕셔너리 표현식은 딕셔너리에서 특정 값을 찾아서 삭제할 때 유용함

In [23]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
 
for key, value in x.items():
    if value == 20:    # 값이 20이면
        del x[key]     # 키-값 쌍 삭제
 
print(x)

RuntimeError: ignored

😎 딕셔너리는 for 반복문으로 반복하면서 키-값 쌍을 삭제하면 안됨

- {키: 값 for 키, 값 in 딕셔너리 if 조건식}
- dict({키: 값 for 키, 값 in 딕셔너리 if 조건식})

In [24]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 20}
print(x)

{'a': 10, 'c': 30, 'd': 40}

25.12 딕셔너리 안에서 딕셔너리 사용하기

- 중첩 딕셔너리는 계층형 데이터를 저장할 때 유용

딕셔너리 = {키1: {키A: 값A}, 키2: {키B: 값B}}

딕셔너리 안에 들어있는 딕셔너리 접근법 <br>
- 딕셔너리[키][키]
- 딕셔너리[키][키] = 값

In [25]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])

6051.8

25.13 딕셔너리 할당과 복사

In [26]:
x = {'a': 0, 'b': 0, 'c': 0, 'd': 0}
y = x
print(y is x) # 실제로는 하나의 딕셔너리 | 주소를 공유하는 꼴

True

In [27]:
y['a'] = 99
print('y : ', y)
print('x : ', x)

y :  {'a': 99, 'b': 0, 'c': 0, 'd': 0}
x :  {'a': 99, 'b': 0, 'c': 0, 'd': 0}

In [29]:
x = {'a': 0, 'b': 0, 'c': 0, 'd': 0}
y = x.copy()
print(y is x) # 완전히 두 개로 만드는 법 : copy메서드 이용
print(y == x)

False
True

In [30]:
y['a'] = 99
print('y : ', y) # 완전히 별개인 딕셔너리이기 때문에 변경하더라도 다른 딕셔너리에 영향 X
print('x : ', x)

y :  {'a': 99, 'b': 0, 'c': 0, 'd': 0}
x :  {'a': 0, 'b': 0, 'c': 0, 'd': 0}

25.14 중첩 딕셔너리의 할당과 복사

In [31]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = x.copy()

In [33]:
y['a']['python'] = '2.7.15' # 중첩딕셔너리는 copy.deepcopy를 사용해야 함
print(x)
print(y)

{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}
{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}

- 중첩 딕셔너리를 완전히 복사하려면 copy 메서드 대신 copy 모듈의 deepcopy 함수 사용

In [34]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
import copy             # copy 모듈을 가져옴
y = copy.deepcopy(x)    # copy.deepcopy 함수를 사용하여 깊은 복사
y['a']['python'] = '2.7.15'
print(x)
print(y)

{'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}

In [41]:
maria = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}
average = sum(maria.values())/ len(maria)
print(average)

89.25

연습문제)<br>
표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다. 다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

In [44]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))

x = {key:value for key,value in x.items() if key !='delta'}
x = {key:value for key, value in x.items() if value !=30}

print(x)

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}